.backgroundColor {
    -fx-background-color: linear-gradient(to left, #DAE2F8, #D6A4A4);
}

.button {
    -fx-background-color: linear-gradient(to right, #DCE, #DDF);
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0.6), 10, 0, 5, 5);
}
